#elrs-config-saver {
  position: fixed;
  top: clamp(8px, 2rem, 16px);
  right: clamp(8px, 2rem, 16px);
  z-index: 1000;
}

.App {
  padding: 8px;
  text-align: center;
  border: 1px solid #424242;
  border-radius: 8px;
  display: flex;
  gap: 8px;
}
